.App {
  background: #343942;
}

.info{
  padding: 0 10px;
  display: inline-block;
  color: #fff;
  display: flex;
  justify-content: center;
}

.info_contents{
  margin: 10px;
  padding: 10px 20px;
  border-radius: 500px;
  border: 1px solid #fff;
}

